* {
    padding: 0;
    margin: 0;
}

body {
    background: -webkit-linear-gradient(left, #E8CBC0, #636FA4);
    background: -o-linear-gradient(right, #E8CBC0, #636FA4);
    background: -moz-linear-gradient(right, #E8CBC0, #636FA4);
    background: linear-gradient(to right, #E8CBC0, #636FA4);
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.t_center{
    border-radius: 8px;
    border-top: 2px solid #fa7d3c;
    width: 850px;
    height: 400px;
    margin: 150px auto;
    text-align: center;
    background-color: #FFFFFF;
}
.t_top{
    height: 30%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.t_top span{
    font-size: 23px;
    display: block;
    margin-top: 45px;
}
.t_under{
    height: 70%;
    width: 100%;
    background-color: #fafafa;
    overflow: hidden;
}

input[type="button"]{
    width:200px ;
    display: block;
    margin: 20px 0 0 325px;
    background-color: #ff8140;
    color: white;
    border: 1px solid #ff8140;
    padding:7px 10px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    font-size: 12px;
    position: absolute;
    left: 1050px;
    top: -25px;
    list-style: none;
}
ul>li{
    float: left;
    padding: 0 10px;
}
ul>li:first-child{
    border-right: 1px solid black;
}
.other{
    margin: 20px auto 0 auto;
    width: 200px;
    font-size: 13px;
}
.other>span>a{
    color: royalblue;
}
.t_under>form>div>span{
    font-size: 13px;
    display: block;
    margin: 5px 0;
}
.t_under>form>div>input{
    padding: 5px 5px;
    width: 200px;

}